.header-name {
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
    color: #FFE6E6;
    margin: 0;
}

.header-job {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5vw;
    color: black;
    margin: 0;
}

hr {
    height: 10px solid;
    width: 30%;
    margin: 20px;
    color: #695050;
}